/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
} */

.product-wrapper {
  /* font-family: "TimesNewRoman"; */
  font-family: 'El Messiri', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
}

.product-card {
  /* background: #990011; */
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(84, 13, 21, 1) 100%
  );
  min-width: 300px;
  min-height: 300px;
  height: 25vw !important;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
  position: relative;
}

.product-card .product-img-div {
  min-height: 150px;
  min-width: 120px;
  width: 8vw;
  height: 10vw;
  background: #fff;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-card .product-img-div .product-img {
  min-width: 100px;
  min-height: 130px;
  width: 4vw;
  height: 6vw;
}

.product-card .product-h1-class {
  color: antiquewhite;
  /* font-size: 20px; */
  margin: 15px 0 6px 0;
  font-size: inherit;
}

.product-card .product-small-class {
  color: rgba(250, 225, 215, 0.7);
  margin-bottom: 50px;
}

.product-label-class {
  min-width: 300px;
  min-height: 100px;
  /* display: block; */
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  bottom: -15px;
}

.product-label-class .product-input-class {
  display: none;
}

.product-label-class .product-span-class {
  display: block;
  width: 40px;
  height: 40px;
  background: #fff;
  text-align: center;
  line-height: 40px;
  border-radius: 10px;
}

.product-label-class .product-span-class i {
  /* color: #f1777c; */
  color: rgba(84, 13, 21, 1);
  cursor: pointer;
  transition: all 200ms;
}

.product-label-class .product-dets-class {
  /* background: #f1777c; */
  background-color: #000000;
  padding-left: 13px;
  padding-right: 13px;
  padding-top: 10px;
  padding-bottom: 10px;
  /* display: flex; */
  /* background-image: linear-gradient(326deg, #000000 0%, #ce203c 74%); */
  color: antiquewhite;
  justify-content: center;
  align-items: center;
  min-width: 300px;
  position: absolute;
  min-height: 100px;
  bottom: -1vh;
  border-radius: 12px;
  z-index: -1;
  /* transition: all 250ms cubic-bezier(0, 1.82, 0.58, 1); */
  transition: all 0.8s cubic-bezier(1, 1.82, 0.58, 1);
}
/* 
.product-label-class .product-dets-class ul {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.product-label-class .product-dets-class ul li {
  width: 36px;
  height: 36px;
  background: #fff;
  margin: 0 10px;
  border-radius: 3px;
  cursor: pointer;
}

.product-label-class .product-dets-class ul li a {
  text-decoration: none;
}

.product-label-class .product-dets-class ul li a i {
  display: block;
  text-align: center;
  line-height: 36px;
  color: antiquewhite;
} */

.product-label-class input:checked ~ span i {
  transform: rotate(182deg);
}

.product-label-class input:checked ~ .product-dets-class {
  /* bottom: -110px; */
  bottom: -26vh;
}

@media (max-height: 653px) {
  .product-label-class input:checked ~ .product-dets-class {
    bottom: -34vh;
  }
}
