.contactbox {
  background-color: rgb(236, 236, 236);
  padding: 15px;
}

.contactbox_row1 {
  text-align: center;
}

.contactbox_row2 {
  border-radius: 10px;
  background-color: white;
  padding: 15px;
  margin: 15px !important;
}

.contactInfoColumn {
  border-radius: 15px;
  background-color: lightcoral;
  margin-bottom: 15px;

}

.contactInfoColumnItems {
  margin: 5px;
  margin-bottom: 20px;
}

.contactInfoColumnIcons {
  margin: 5px;
  margin-bottom: 20px;
  align-items: flex-end;
}

.icons {
  display: flex;
  justify-content: space-around;
}

.contactFormRow{
  padding: 5px;
  margin-bottom: 10px !important;
}

/* .contactPhoneInput{
  height: 56px !important; 
  width:inherit !important;
} */